Object.assign(Profile.prototype, {templateRegister(){ return `
<div>
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>Ny kund / Logga in</li>
            </ul>

        </div>

        <div class="col-md-6">
            <div class="box">
                <h1>Ny kund</h1>

                <p class="lead">Not our registered customer yet?</p>
                <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole
                    process will not take you more than a minute!</p>
                <p class="text-muted">If you have any questions, please feel free to
                    <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

                <hr>

                <form action="customer-orders.html" method="post">
                    <div class="form-group">
                        <label for="name">User Namn</label>
                        <input type="text" class="form-control usName" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Mailadress</label>
                        <input type="text" class="form-control signUpEmail" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Lösenord</label>
                        <input type="password" class="form-control signUpPass" required>
                        <small class="passControl">Måste vara minst 6 tecken, innehålla minst en siffra en stor och en liten bokstav!</small>
                    </div>
                    <div class="form-group">
                        <label>Repetera lösenord</label>
                        <input type="password" class="form-control signUpRePass" placeholder="Repetera lösenord" name="repass" required>
                        <small class="repassCheck d-none">Kontrollera lösenordet!</small>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary ">
                            <i class="fa fa-user-md signupbtn"></i> Registrera</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box">
                <h1>Logga in</h1>

                <p class="lead">Already our customer?</p>
                <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                    tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                    semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                <hr>

                <form action="customer-orders.html" method="post">
                    <div class="form-group">
                        <label for="email">Mailadress</label>
                        <input type="text" class="form-control lginEmail" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Lösenord</label>
                        <input type="password" class="form-control lgPass" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in pop lgin"></i> Logga in</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <!-- /.container -->
</div>

`; }});