
Object.assign(Info.prototype, { template(){ return `
  <div class="row om-oss">
    <div class="col-12 col-md-8 om-oss-text">
      <div>
        <h2 class="mb-3">Brazil fortaleza</h2>
        <a href="/produkter" class="coffe"><img class="rounded" src="/imgs/beans/brazil-fortaleza.png"></a>

      </div>
    </div>
    <div class="col-12 col-md-4 om-oss-text">
      <div>
        <p>Familjen Croce äger och har drivit Fazenda Ambiental Fortaleza i mer än hundra år och följaktligen flertalet generationsskiften. När Marcos Croce tog över driften, för cirka tio år sedan, sadlade han om för att göra gården till en etisk mönsterfarm med tydligt miljöfokus.</p>
        <p>Han skapade även ett nätverk av kaffeodlande grannar och vänner som delar hans vision och tro på äkta kaffekvalitet. Genom detta nätverk kan småskaliga kaffeodlare i regionen Mococa marknadsföra och exportera enastående kaffe till hängivna rostare som oss själva..</p>
      </div>
    </div>
  </div>

	`;}});
