Object.assign(Profile.prototype, { templateAddress(){ return `
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="firstname">Namn</label>
            <input type="text" class="form-control" id="firstname">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="lastname">Efternamn</label>
            <input type="text" class="form-control" id="lastname">
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="street">Adress</label>
            <input type="text" class="form-control" id="street">
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="form-group">
            <label for="zip">Postnummer</label>
            <input type="text" class="form-control" id="zip">
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="form-group">
            <label for="state">Postort</label>
            <input class="form-control" id="ort">
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="form-group">
            <label for="country">Land/Region
            </label>
            <input class="form-control" id="country">
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label for="phone">Telefon</label>
            <input type="text" class="form-control" id="phone">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email">
        </div>
    </div>


</div>
<div class="box-footer">
    <div class="pull-left">
        <a href="/shoppingCart" class="btn btn-default">
            <i class="fa fa-chevron-left"></i>TILL VARUKORG</a>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary delivery-btn">FORTSÄTT
            <i class="fa fa-chevron-right"></i>
        </button>
    </div>
</div>
<!-- /.row -->
`;}});