Object.assign(Cart.prototype, { templateBasket(){ return `
<div id="all">
    <div id="content">

        <div class="container">
            <div class="row">
                <div class="col-lg-9" id="basket">

            <div class="col-md-9" id="basket">

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <button href="/" class="btn btn-last">
                                        <i class="fa fa-chevron-left"></i> Continue shopping</button>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-last">
                                        <i class="fa fa-refresh"></i> Update basket</button>
                                    <button class="btn btn-next">Proceed to checkout
                                        <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
                <!-- /.col-md-9 -->


                <div class="col-lg-3">
                    <div class="box" id="order-summary">


                    </div>
                </div>
                <!-- /.col-md-3 -->


            </div>
            <!-- /.row -->
        </div>



    </div>
    <!-- /.container -->
</div>


`;}});
