Object.assign(Cart.prototype, { templateBasket(){ return `
<div id="all">
    <div id="content">
        <div class="container">

            <div class="col-md-12" id="basket">

                <div class="box">

                    <form>

                        <h1 class="border-bottom">Varukorg</h1>
                        <div id="shoppingList">


                        </div>
                        <!-- /.table-responsive -->

                        <div class="box-footer">
                          <div class="float-md-right">
                              <a class="btn btn-next pop text-light" href="checkout">Fortsätt till kassan
                                  <i class="fa fa-chevron-right"></i>
                              </a>
                          </div>
                            <div class="float-md-left">
                                <a href="produkter" class="btn btn-last pop">
                                    <i class="fa fa-chevron-left"></i>Tillbaka till produkter</a>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
            <!-- /.col-md-9 -->


            <!-- <div class="col-md-3">
                <div class="box" id="order-summary">


                </div>
            </div> -->
            <!-- /.col-md-3 -->



        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->
</div>


`;}});
