Object.assign(Product.prototype, {templateCartContent(){
return `<tr>
      <td colspan="2">
          <a href="#">${this.name}</a>
      </td>
      <td>
          <input data-id="${this._id}" type="number" value="${this.cartItem.quantity}" min="1" class="form-control quantity-control">
      </td>
      <td>${this.price}kr</td>
      <td class="unit-total-price">
        ${this.price * this.cartItem.quantity}kr
      </td>
      <td>
          <a class="trash-item" data-id="${this._id}">
              <i class="fa fa-trash-o"></i>
          </a>
      </td>
    </tr>`
  ;}});
