Object.assign(Product.prototype, {templateCartContent(){
return `<tr>
      <td>
        <a class="pop" href="/produkter/${this._id}">
         <img src="/imgs/${this.type}/${this.image}" alt="">
        </a>
      </td>
      <td colspan="1">
          <a class="pop" href="/produkter/${this._id}">${this.name}</a>
      </td>
      <td class="quant">
        <form class="d-flex justify-content-start">
          <div class="form-group d-flex justify-content-start">
            <button type="button" class="btn-sm text-light my-2" id="minus-btn">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <input data-id="${this._id}" class="form-control mt-2 col-3 text-center font-weight-bold quantity-control" type="text" value="${this.cartItem.quantity}" disabled>
            <button type="button" class="btn-sm text-light my-2 2" id="plus-btn">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </td>
      <td>${this.price}kr</td>
      <td class="unit-total-price">
        ${this.price * this.cartItem.quantity}kr
      </td>
      <td>
          <a class="trash-item" data-id="${this._id}">
              <i class="fa fa-trash-o"></i>
          </a>
      </td>
    </tr>`
  ;}});
