Object.assign(Cart.prototype, {templateShoppingList(){ return `
    <table class="table" >
    <thead>
            <tr>
                <th colspan="2">Dina varor</th>
                <th>Antal</th>
                <th>Enhetspris</th>
                <th>Rabatt</th>
                <th colspan="2">Totalsumma</th>
            </tr>
        </thead>
        <tbody class="cart-content">
          ${this.products.render()};
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5">Total</th>
                <th colspan="2">$446.00</th>
            </tr>
        </tfoot>
    </table>





        `;}});
