Object.assign(Cart.prototype, {templateShoppingList(){ return `
    <table class="table" >
    <thead>
            <tr>
                <th colspan="2">Dina varor</th>
                <th>Antal</th>
                <th>Enhetspris</th>
                <th colspan="2">Totalsumma</th>
            </tr>
        </thead>
        <tbody class="cart-content">

        </tbody>
        <tfoot>
            <tr>
                <th colspan="5">Totalt</th>
                <th colspan="2" class="cart-total-price"></th>
            </tr>
        </tfoot>
    </table>





        `;}});
