Object.assign(Checkout.prototype, { templateCreditCard(){ return `

<div class="row justify-content-md-center creditCart">
    <div class="col-md-auto">
        <div class="box credit-card credit-card--with-stripe credit-card--visa l-centered ">
            <h4 class="credit-card__title">
                Payment Details
            </h4>
            <form class="credit-card__form">
                <input class="credit-card__number" placeholder="Card Number" type="text" required/>
                <fieldset>
                    <input class="credit-card__expiry-month" maxLength="2" placeholder="MM" type="text" required/>
                    <input class="credit-card__expiry-year" maxLength="2" placeholder="YY" type="text" required/>
                    <input class="credit-card__cv-code pull-right" maxLength="3" placeholder="cvc" type="text" required/>
                </fieldset>
            </form>
        </div>
    </div>

</div>
`;}});