Object.assign(Checkout.prototype, { templatePaypal(){ return `
<div class="row paypal">
    <div class="col-12 paypal-box ">
        <span class="paypal-logo">
            <i>Pay</i>
            <i>Pal</i>
        </span>

        <br />

        <button class="paypal-button">
            <span class="paypal-button-title">
                Buy now with
            </span>
            <span class="paypal-logo ">
                <i>Pay</i>
                <i>Pal</i>
            </span>
        </button>
    </div>
</div>

`;}});
