Object.assign(Startsida.prototype, { template3(){ return `

  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="card border-0 mb-3">
        <img class="card-img-top" src="/imgs/Bean/coffee-beans-card.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Kaffebönor</h5>
          <p class="card-text">HÄR ÄR DINA BÖNOR</p>
          <a href="#" class="btn btn-primary card-btn float-right">KÖP BÖNOR</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card border-0 mb-3">
        <img class="card-img-top" src="/imgs/Powder/coffee-powders-card.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pulver</h5>
          <p class="card-text">HÄR ÄR DITT PULVER</p>
          <a href="#" class="btn btn-primary card-btn float-right">KÖP PULVER</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card border-0">
        <img class="card-img-top" src="/imgs/Capsule/coffee-capsule-card.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Kapslar</h5>
          <p class="card-text">HÄR ÄR DINA KAPSLAR</p>
          <a href="#" class="btn btn-primary card-btn float-right">KÖP KAPSEL</a>
        </div>
      </div>
    </div>
  </div>

`;}});
