Object.assign(Startsida.prototype, { template2(){ return `

  <div class="container-fluid d-none d-md-block">
    <div class="row">
      <div class="col-12 carousel-padding">
        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false" data-interval="6000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/produkter" class="pop"><img class="d-block w-50" src="/imgs/beans/mocca-java.jpg" alt="First slide"></a>
              <div class="carousel-caption first-carousel-caption d-none d-md-block">
                <a href="/produkter" class="pop"><p class="film-title">Kaffe</p></a>
              </div>
            </div>
            <div class="carousel-item">
              <a href="/produkter" class="pop"><img class="d-block w-50" src="/imgs/powders/lucaffe-black.jpg" alt="Second slide"></a>
              <div class="carousel-caption d-none d-md-block">
                <a href="/produkter" class="pop"><p class="film-title">Pulver</p></a>
              </div>
            </div>
            <div class="carousel-item">
             <a href="/produkter" class="pop"><img class="d-block w-50" src="/imgs/capsules/divino.png" alt="Third slide"></a>
              <div class="carousel-caption d-none d-md-block">
                <a href="/produkter" class="pop"><p class="film-title">Kapslar</p></a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
`;}});
