Object.assign(Startsida.prototype, { template2(){ return `

  <div class="d-none d-md-block empty-space">
    <div class="row">
      <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false" data-interval="6000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/produkter" class="pop"><img class="d-block w-100 rounded" src="/imgs/beans/coffee-moca-java.jpg" alt="First slide"></a>
              <div class="carousel-caption first-carousel-caption d-none d-md-block">

              </div>
            </div>
            <div class="carousel-item">
              <a href="/produkter" class="pop"><img class="d-block w-100 rounded" src="/imgs/powders/powders-carousel.jpg" alt="Second slide"></a>
              <div class="carousel-caption d-none d-md-block">

              </div>
            </div>
            <div class="carousel-item">
             <a href="/produkter" class="pop"><img class="d-block w-100 rounded" src="/imgs/capsules/capsule-carousel.jpg" alt="Third slide"></a>
              <div class="carousel-caption d-none d-md-block">

              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
`;}});
