Object.assign(Product.prototype, { template(){ return `
<div class="row product-page">
    <div class="col-12 col-md-9 d-flex justify-content-start">
        <p class="font-weight-bold mr-3">Kategorier:</p>
        <form class="d-flex justify-content-start flex-wrap">
            <div class="form-check col-4 col-md-2 mr-0 mr-md-4 mr-lg-0">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" value="All" name="check">
                <label class="form-check-label" for="exampleCheck1">Alla</label>
            </div>
            <div class="form-check col-4 col-md-2 mr-2 mr-sm-3 mr-md-5">
                <input type="checkbox" class="form-check-input" id="exampleCheck2" value="Bean" name="check">
                <label class="form-check-label" for="exampleCheck2">Kaffebönor</label>
            </div>
            <div class="form-check col-4 col-md-2 mr-5">
                <input type="checkbox" class="form-check-input" id="exampleCheck3" value="Powder" name="check">
                <label class="form-check-label" for="exampleCheck3">Bryggkaffe</label>
            </div>
            <div class="form-check col-4 col-md-2 mr-0 mr-md-4 mr-lg-0">
                <input type="checkbox" class="form-check-input" id="exampleCheck4" value="Capsule" name="check">
                <label class="form-check-label" for="exampleCheck4">Kaffekapslar</label>
            </div>
        </form>
    </div>
    <div class="col-12 col-md-3 mb-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle font-weight-bold float-md-right float-left mt-3 mt-md-0" type="button" id="dropdownMenu2"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sortering
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Produktnamn A-Ö</button>
                <button class="dropdown-item" type="button">Produktnamn Ö-A</button>
                <button class="dropdown-item" type="button">Lägsta pris</button>
                <button class="dropdown-item" type="button">Högssta pris</button>
            </div>
        </div>
    </div>
  ${this.app.products.render('', '2')}
</div>
`;}});