Object.assign(Product.prototype, { template2(){ return `
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
              <div class="card mb-3">
                <div class="card-holder rounded mx-auto d-block">
                  <a href="#">
                    <img class="card-img-top rounded mx-auto d-block mt-4" src="/imgs/${this.app.type}/${this.app.image}" alt="Card image cap">
                  </a>
                </div>
                <div class="card-body pb-0 mt-1">
                  <div class="title-holder rounded mx-auto d-block">
                    <h5 class="card-title">
                      <a href="#">${this.app.name}</a>
                    </h5>
                  </div>
                  <p class="card-text description">${this.app.description}
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-around px-0">
                  <div>
                    <p class="float-left font-weight-bold ml-sm-3 mt-2">${this.app.price} kr</p>
                  </div>
                  <div class="ml-3">
                    <a href="#" class="btn btn-primary card-btn float-right">KÖP</a>
                  </div>
                </div>
              </div>
            </div>
`;}});