Object.assign(Admin.prototype, { template4(){ return `

<div class="row admin">
  <div class="col-12">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link pop" href="/admin">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pop" href="/admin/stock">Lager</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pop" href="/admin/add">Addera</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pop" href="/admin/change">Ändra</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pop active" href="/admin/delete">Ta bort</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <h5 class="my-4">Fyll i produkt namn</h5>

        <form>
          <div class="input-group mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text" id="name">Namn</span>
            </div>
            <input id="inputName" type="text" class="form-control" aria-label="Default" aria-describedby="name">
          </div>
          <button id="delete-btn" type="submit" class="btn btn-lg">Ta bort</button>
        </form>

      </div>
    </div>
  </div>
</div>

`;}});