Object.assign(Admin.prototype, { template(){ return `

<div class="container admin">
  <div class="row">
    <div class="col-12">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link pop active" href="/admin">Beställning</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pop" href="/admin/add">Addera</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pop" href="/admin/change">Ändra</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pop" href="/admin/delete">Ta bort</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-around p-2">
            <div class="px-5">
              <h6>Order Nummer</h6>
            </div>
            <div class="px-5">
              <h6>Datum</h6>
            </div>
            <div class="px-5">
              <h6>Antal</h6>
            </div>
            <div class="px-5">
              <h6>Pris</h6>
            </div>
            <div class="px-5">
              <h6>Status</h6>
            </div>
          </div>
          <ul class="p-0">
            ${this.app.admin.render('', 1)}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

`;}});