Object.assign(Capsule.prototype, { template(){ return `

<div class="col-6 col-lg-3 mb-4">
	<div class="card border-0 mb-3">
		<a href="#">
			<img class="card-img-top" src="/imgs/capsules/${this.image}" alt="Card image cap">
		</a>
		<div class="card-body pb-0">
			<h5 class="card-title">
				<a href="#">${this.name}</a>
			</h5>
			<p class="card-text description">${this.description}
			</p>
			<div class="card-footer d-flex justify-content-sm-between px-0">
				<div>
					<p class="float-left font-weight-bold ml-sm-3 mt-2">${this.price} kr</p>
				</div>
				<div class="ml-3">
					<a href="#" class="btn btn-primary card-btn float-right">KÖP</a>
				</div>
			</div>
		</div>
	</div>
</div>

`;}});