table {
	.form-control {
		width: 150px !important;
		height: 32px;
	}

	.btn-sm {
		background-color: #a99678;
		border-color: #a99678;

			&#minus-btn {
				border-radius: .2rem 0 0 .2rem;
				cursor: pointer;
			}

			&#plus-btn {
				border-radius: 0 .2rem .2rem 0;
				cursor: pointer;
			}
	}
	tfoot{
		tr {
			th.VAT-text {
				font-size: 14px;
			}
		}
	}
}
