div#all div.container, div#basket{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.box-footer{
	@media only screen and(max-width:414px){
		.btn{
			width: 300px;
		}
	}
}

div#shoppingList {
	.form-control {
		width: 150px !important;
		height: 30px;
		border-radius: 0 !important;
		font-size: 14px;
	}

	p.VAT-text {
		font-size: 16px;
		font-weight: bold;
	}

	.total-moms-price{
		font-size: 20px;
		font-weight: bold;
	}

	.name{
		width: 91px;
	}

	div .name{
		margin-left: -20px;
	}

	img {
		width: 50px;
		height:50px;
	}

	.cart-headers{
		font-size: 20px;
		font-weight: bold;
	}

	@media only screen and (max-width:768px){
		.form-control{
			padding: 0;
		}
	}


	@media only screen and (max-width:414px){
		#shoppingList{
			overflow-x: hidden;
		}
		.btn-sm{
			width:25px !important;
		}
		.form-control{
			width:100px !important;
			padding:0;
			height: 31px;
		}

		.quant{
			margin-left: 10px;
		}

		.name{
			word-break: keep-all;
			position: absolute;
		}
		.unit-total-price{
			margin-top:12px;
		}
	}

	.btn-sm {
		background-color: #a99678;
		border-color: #a99678;



		&:disabled {
			pointer-events: none;
		}


		&#minus-btn {
			border-radius: .2rem 0 0 .2rem;
			cursor: pointer;
		}

		&#plus-btn {
			border-radius: 0 .2rem .2rem 0;
			cursor: pointer;
		}
		&:focus{
			outline: none;
		}

	}
}
