//main: style.less
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: auto;
 line-height: 30px;
 background-color: #e0e0e0;
 overflow-x: hidden;

 p {
   line-height: 1.6em;
   margin-bottom: 0;
   color: black;
   // Icons
   .fa {
     line-height: 30px;
     font-size: 20px;
     width: 30px;
     height: 30px;
     text-align:center;
     text-decoration: none;
   }
   a.text-light:hover {
    text-decoration: none;
   }
 }
 // Set hight for boxes
 .myheight {
   height: 60px;
 }
}
