header {

  .dropdown-item:hover{
    background-color: @bluegreen !important;
  }

  .navbar-brand{
    width: 50px;
  }

  .d-lg-none{
    width: 150px;
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
  }

  nav{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #fff;
   .nav-item.active{
      background-color: @bluegreen;
      font-weight: bold;
    }
    .navbar-brand {
        width: 50px;
    }
    .shopping-cart a{
      color: @bluegreen;
      &:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }

      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
        .nav-item {
            padding: 10px;
        }
        .shopping-cart a {
            color: #4fbfa8;
            &:hover {
                animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;
            }
            @keyframes shake {
                10%,
                90% {
                    transform: translate3d(-1px, 0, 0);
                }
                20%,
                80% {
                    transform: translate3d(2px, 0, 0);
                }
                30%,
                50%,
                70% {
                    transform: translate3d(-4px, 0, 0);
                }
                40%,
                60% {
                    transform: translate3d(4px, 0, 0);
                }
            }
        }
        .fa-sign-in-alt {
            color: #4fbfa8;
        }
        .badge {
            border-radius: 10px;
            background-color: #f1f100;
        }
        .dropdown-toggle {
            background-color: buttonface;
            &:hover {
                background-color: #4fbfa8;
            }
        }
        .nav-logo {
          text-align: center;
        }
      }
    }

    .badge{
      border-radius: 10px;
      background-color: #f1f100;
    }

    .dropdown-toggle {
      background-color: buttonface;

      &:hover {
        background-color: #4fbfa8;
        .fa-sign-in-alt{
          color:@bluegreen;
        }
      }

      .modal-content {
        @media only screen and (max-width: 576px) {
          margin-top: 50px !important;
        }

        @media only screen and (max-width: 768px) {
          margin-top: 70px !important;
          &:hover {
            background-color: @bluegreen;
          }
        }
      }
    }
  }
}