header {

  .dropdown-item:hover{
    background-color: #66717b !important;
  }

  .navbar-brand{
    width: 50px;
  }

  .d-lg-none{
    width: 150px;
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
  }


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
      color: white;
  }
  nav{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #fff;
   .nav-item.active{
      background-color: #4fbfa8;
      font-weight: bold;



    }
    .nav-item{
      padding: 10px;
      color: #4fbfa8;
    }

.shopping-cart a{
  color: #4fbfa8;
}

.fa-sign-in-alt{
  color:#4fbfa8;
}

.badge{
  border-radius: 10px;
  background-color: yellow;
}
  }
}
