Object.assign(OmOss.prototype, { template(){ return `


<div class="row om-oss">
  <div class="col-12 col-md-4 om-oss-text">
    <div>
      <h2 class="mb-3">Kontaktinformation</h2>
      <ul class="list-unstyled">
        <li>CoffeDB</li>
        <li>Kaffegatan 12</li>
        <li>11345, Bönan</li>
      </ul>
      <ul class="list-unstyled">
        <li><i class="fa fa-phone" aria-hidden="true"></i> 040-12 33 21</li>
        <li>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <a href="mailto:info@coffeDB.com">info@coffeDB.com </a>
        </li>
      </ul>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2253.4899508385665!2d12.992191315984668!3d55.610890010395565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4653a3f8915c45f3%3A0x9cb4b7d77035fc30!2sLernia!5e0!3m2!1ssv!2sse!4v1520413247185" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8 om-oss-text">
    <div>
      <h2 class="mb-3">Om oss</h2>
      <p>Färskrostat kaffe är så mycket godare! CoffeDB är en oberoende leverantör av färskrostade datummärkta kaffebönor* Vi vill ge alla en bättre och färskare kaffeupplevelse, så därför har vi valt att specialisera oss på att leverera färskrostade specialkaffe bönor (obs! aldrig ompackade eftersom det förkortar hållbarheten och färskheten avsevärt). Hållbarheten på kaffebönorna i oöppnad förpackning är minst 9 månader från rostningsdatum om du köper kaffe från CoffeDB. Kaffe från mindre rosterier använder inte  kväve i sina påsar och det kaffet är absolut godast om det konsumeras inom 3 månader från rostdatum. Kom och besök oss ofta! Vi letar hela tiden efter riktigt bra ekologiskt färskrostat kaffe, te och de bästa tillbehören.</p>
      <img class="float-right" src="/imgs/om-oss.jpg">
      <p>Samtliga kaffe som CoffeDB säljer är alltid rättvist upphandlade. Flertalet bönor är dessutom ekologiskt odlade. *När det färskrostade kaffet skickas från våra lokaler är det sällsynt att det har gått mer än 30 dagar sedan kaffebönorna rostades. Hållbarheten på kaffebönorna i oöppnad förpackning är minst 9 månader från rostningsdatum tack vare en unik teknik att packa bönorna i en skyddande atmosfär direkt efter rostning, i en miljö som innehåller max 0,05% syre. Detta stannar åldringsprocessen maximalt och är en enorm förbättring mot tidigare packningstekniker. Beställer du för över 300:- så bjuder vi på frakten. Observera att CoffeDB säljer hela kaffebönor och att du behöver en kvarn för att mala dem. Kaffe och espressomaskinerna samt kvarnarna vi säljer håller högsta kvalitet och är noga utprovade av vår testpanel.</p>
    </div>
  </div>
</div>


`;}});
