header .dropdown-item:hover {
  background-color: #66717b !important;
}
header .navbar-brand {
  width: 50px;
}
header .d-lg-none {
  width: 150px;
}
header .navbar-light .navbar-nav .active > .nav-link,
header .navbar-light .navbar-nav .nav-link.active,
header .navbar-light .navbar-nav .nav-link.show,
header .navbar-light .navbar-nav .show > .nav-link {
  color: white;
}
header nav {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #fff;
}
header nav .nav-item.active {
  background-color: #4fbfa8;
  font-weight: bold;
}
header nav .nav-item {
  padding: 10px;
}
header nav .shopping-cart a {
  color: #4fbfa8;
}
header nav .fa-sign-in-alt {
  color: #4fbfa8;
}
