html {
  position: relative;
  min-height: 100%;
}
html body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
html body .btn,
html body a {
  cursor: pointer;
}
html body main {
  margin-top: 75px;
}
