.product-info {
  background-color: #fff;
  margin-top: 110px;
  padding: 40px;
}
.product-info .card-img-top {
  max-width: 100%;
  max-height: unset;
}
.product-info .form-control {
  width: 15%;
  height: 32px;
}
.product-info .btn-sm {
  background-color: #959797;
  border-color: #959797;
}
.product-info .btn-sm.minus-btn {
  border-radius: .2rem 0 0 .2rem;
  cursor: pointer;
}
.product-info .btn-sm.plus-btn {
  border-radius: 0 .2rem .2rem 0;
  cursor: pointer;
}
.product-info .btn-cart {
  background-color: #4fbfa8;
  border-color: #41b39c;
}
.product-info .form-control-sm {
  line-height: unset;
  border-radius: unset;
}
.product-info .fa-check {
  color: #3eac0d;
}
.product-info .price {
  font-size: 1.5rem;
  color: #666;
}
.product-info h2 {
  text-align: unset;
  color: #000;
}
