header .dropdown-item:hover {
  background-color: #66717b !important;
}
header .navbar-brand {
  width: 50px;
}
header .d-lg-none {
  width: 150px;
}
header nav {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #fff;
  /*    .container{
      .logo-mobile{
        margin: 10px auto;
      }
    }

    .nav-item.active{
      font-weight: bold;
    }

    background-color: #fff;
    a{
      color: white;
      &:hover, &:active, &:focus, &.btn:hover{
        color: @lightorange !important;
      }
    }
    .btn-outline-secondary{
      color: white;
      border-color: @lightorange;
      &:hover{
        background-color: @lightorange;
        color: #000;
      }
    }
    .yellow {
      background-color: @lightorange;
      &:hover {
        opacity: 0.7;
      }
    }
    .log{
      background-color: @bg-gray;
      width: 300px;
      a, a:hover{
        color: black !important;
      }
    }
    .show>.btn-outline-secondary.dropdown-toggle{
      background-color: #0b0c10;
      border-color: @lightorange;
      &:focus{
        box-shadow: 0 0 0 2px rgba(193, 175, 15, 0.55);
      }
    }*/
}
header nav .nav-item.active {
  background-color: #4fbfa8;
  font-weight: bold;
}
header nav .nav-item {
  padding: 10px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  line-height: 30px;
  /* Vertically center the text there */
  background-color: #e0e0e0;
}
footer p {
  line-height: 1.6em;
  margin-bottom: 0;
  color: black;
}
footer p .fa {
  line-height: 30px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
}
footer p a.text-light:hover {
  color: #f2b600 !important;
  text-decoration: none;
}
footer .myheight {
  height: 60px;
}
h2 {
  color: #4fbfa8;
  text-align: center;
}
.empty-space {
  margin-top: 85px;
}
.card-btn {
  background-color: #4fbfa8;
  border-color: #41b39c;
}
.card-btn:hover {
  background-color: #3da892;
  border-color: #318675;
}
.card-news {
  padding: 0 !important;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.karusell a {
  color: white;
}
.karusell a:hover {
  color: #f2b600;
  text-decoration: none;
}
.karusell .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.karusell .carousel-caption {
  top: auto;
  bottom: 10px;
  right: 900px;
}
.karusell .first-carousel-caption {
  top: auto;
  bottom: 20px;
  right: 700px;
  color: #fff;
}
.karusell .carousel-caption-avatar {
  top: auto;
  bottom: 10px;
  right: 950px;
}
.karusell .film-title {
  font-size: 50px;
  font-family: 'Exo', sans-serif;
  font-weight: 900;
  text-shadow: 2px 2px #000;
}
@media screen and (max-width: 1035px) {
  .karusell .film-title {
    font-size: 25px;
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px #000;
  }
}
.karusell .film-title-color {
  color: #000;
}
.karusell .carousel-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 43px;
}
.karusell .empty-space {
  padding-top: 70px;
}
/* Start of fading transition*/
.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@supports (transform-style: preserve-3d) {
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* End of fading transition */
.product-page {
  background-color: #fff;
  margin-top: 110px;
  padding: 40px;
}
.product-page .card-btn {
  background-color: #4fbfa8;
  border-color: #41b39c;
}
.product-page .card-btn:hover {
  background-color: #3da892;
  border-color: #318675;
}
.product-page .card {
  height: 100%;
}
.product-page .card-img-top {
  max-width: 150px;
  max-height: 200px;
}
.product-page .card-holder {
  height: 200px;
  width: 200px;
}
.product-page .card-body {
  border: 1px solid #b5b0b08a;
}
.product-page .card-footer {
  background-color: unset;
}
.product-page .dropdown-menu {
  font-size: .9rem;
}
.product-page p.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.product-page .custom-control-label::before {
  border: 1px solid #6c757d80;
}
.product-page .category-text {
  display: none;
}
@media only screen and (min-width: 576px) {
  .product-page .category-text {
    display: block;
  }
}
.product-page h5 a {
  color: #000;
}
.product-page h5 a:hover {
  color: #4fbfa8;
  text-decoration: none;
}
.om-oss {
  border-radius: 5px;
  padding: 30px;
}
@media only screen and (max-width: 576px) {
  .om-oss {
    padding: 20px;
  }
}
.om-oss .om-oss-text {
  background-color: #fff;
  padding: 30px;
}
.om-oss h2,
.om-oss h3 {
  font-family: 'Oswald', sans-serif;
  background-color: #4fbfa8;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
}
.om-oss img {
  padding: 10px;
  width: 300px;
}
.om-oss .list-group-item.active {
  background-color: #4fbfa8;
  font-weight: bold;
}
.om-oss .list-group-item {
  border: none;
  border-radius: 0;
}
.om-oss .card {
  border: none;
}
.om-oss .card .card-body {
  padding: 40px;
}
@media screen and (max-width: 700px) {
  .om-oss .card .card-body {
    padding: 20px;
  }
}
.om-oss .btn-link {
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
}
.om-oss .btn-link:hover {
  text-decoration: none;
  font-weight: bold;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
body .btn {
  cursor: pointer;
}
main {
  margin-top: 75px;
}
.user-page {
  margin-top: 80px;
}
.user-page .heading {
  padding: 0;
}
.user-page .heading h1 {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  display: inline-block;
  line-height: 1.5;
  padding: 20px;
}
.user-page .heading .fa-user-circle {
  font-size: 50px;
}
.user-page .heading .card {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.user-page .content {
  background-color: #262626;
  padding: 20px 50px;
}
.user-page .content h2 {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  border-bottom: 3px solid #f2b600;
  display: inline-block;
  line-height: 1.5;
}
.user-page .content .bokningar .card {
  height: 100%;
}
.user-page .content .bokningar h5,
.user-page .content .bokningar a {
  font-family: 'Oswald', sans-serif;
  color: #f2b600;
}
.user-page .content .bokningar h5:hover,
.user-page .content .bokningar a:hover {
  text-decoration: none;
}
.user-page .content .bokningar li {
  color: #fff;
  font-weight: normal;
}
.user-page .order-history-div .order-history-list .history-list {
  font-family: 'Oswald', sans-serif;
  background-color: #f2b600;
  border-color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
button.cancel-btn-card {
  background-color: #f2b600;
}
#cancel-order-modal .cancel-modal {
  background-color: #262626;
  max-width: 80%;
}
#cancel-order-modal .cancel-modal h4 {
  color: white;
}
#cancel-order-modal .cancel-modal .cancel-modal-header {
  background-color: #f2b600;
}
#cancel-order-modal .cancel-modal .cancel-modal-header h5 {
  font-family: 'Oswald', sans-serif;
}
#cancel-order-modal .cancel-modal button.cancel-order {
  color: #000000;
  border-color: #f2b600;
  background-color: #f2b600;
}
.admin {
  padding-top: 30px;
}
.admin .card-header {
  background-color: #4fbfa8;
}
.admin .card-header a.nav-link {
  color: #333;
}
@media only screen and (max-width: 576px) {
  .admin .card-header a.nav-link {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.admin button {
  background-color: #4fbfa8;
  opacity: 0.8;
  border: 0px;
  box-shadow: 0 4px 8px 0 #00000033;
  color: white;
}
.admin button:hover {
  opacity: 1;
}
#content #checkout .nav {
  margin-bottom: 20px;
  border-bottom: solid 1px #4fbfa8;
  padding-left: 0;
  list-style: none;
}
#content #checkout .nav li {
  height: 100%;
}
#content #checkout .nav li a {
  display: block;
  height: 100%;
}
#content #checkout .nav-pills > li > a {
  border-radius: 0;
}
#content #checkout .nav-pills > li.active > a,
#content #checkout .nav-pills > li.active > a:hover,
#content #checkout .nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #4fbfa8;
}
#content #order-summary table {
  margin-top: 20px;
}
#content #order-summary table td {
  color: #999999;
}
#content #order-summary table tr.total td,
#content #order-summary table tr.total th {
  font-size: 18px;
  color: #555555;
  font-weight: 700;
}
#content #checkout .table tbody tr td,
#content #basket .table tbody tr td,
#content #customer-order .table tbody tr td {
  vertical-align: middle;
}
#content #checkout .table tbody tr td input,
#content #basket .table tbody tr td input,
#content #customer-order .table tbody tr td input {
  width: 50px;
  text-align: right;
}
#content #checkout .table tbody tr td img,
#content #basket .table tbody tr td img,
#content #customer-order .table tbody tr td img {
  width: 50px;
}
#content #checkout .table tfoot,
#content #basket .table tfoot,
#content #customer-order .table tfoot {
  font-size: 18px;
}
#content #checkout .nav-pills > li > a {
  border-radius: 0;
}
#content #checkout .nav > ul {
  margin: 0 0 20px;
  width: 100%;
}
#content a {
  padding: 10px 15px;
  color: #4fbfa8;
  text-decoration: none;
  text-align: center;
}
#content a a:hover,
#content a a:focus {
  color: #348e7b;
  text-decoration: underline;
}
#content a a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#content #checkout .btn {
  font-weight: normal;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
}
.box {
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.box .box-header {
  background: #f7f7f7;
  margin: -20px -20px 20px;
  padding: 20px;
  border-bottom: solid 1px #eeeeee;
}
.box .box-header:before,
.box .box-header:after {
  content: " ";
  display: table;
}
.box .box-header:after {
  clear: both;
}
.box .box-footer {
  background: #f7f7f7;
  margin: 30px -20px -20px;
  padding: 20px;
  border-top: solid 1px #eeeeee;
}
.box .box-footer:before,
.box .box-footer:after {
  content: " ";
  display: table;
}
.box .box-footer:after {
  clear: both;
}
#all {
  margin-top: 80px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}
.btn-next {
  color: #ffffff;
  background-color: #3da892;
  border-color: #318675;
}
.btn-last {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
#loginModal .modal-header {
  background: #4fbfa8;
}
#loginModal .modal-header h4 {
  color: #fff;
}
.modal-backdrop {
  z-index: 20! important;
}
/*************credit-card**********/
.credit-card {
  /* Form */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Content */
  /* Aesthetics */
  border: 1px solid #eee;
  border-top-color: #ddd;
  border-radius: 1.8rem;
  background: linear-gradient(135deg, #f7f7f7, #eeeeee);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  /* Add a complementary magnetic strip */
  transition: background 0.28s ease-in-out;
}
.credit-card .credit-card__title {
  margin-bottom: 2vw;
  letter-spacing: 0.12vw;
}
.credit-card .credit-card__form input {
  width: 100%;
  padding: 0.7vw;
  font-size: 2vw;
  line-height: 1.2;
  /* Aesthetics */
  color: #666;
  border: 1px solid #888;
  border-bottom: 1px solid #888;
  border-radius: 3px;
}
.credit-card .credit-card__form fieldset {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
.credit-card .credit-card__form .credit-card__number {
  margin-bottom: 2vw;
}
.credit-card .credit-card__form .credit-card__expiry-month,
.credit-card .credit-card__form .credit-card__expiry-year,
.credit-card .credit-card__form .credit-card__cv-code {
  display: inline-block;
  margin-right: 1vw;
  width: 6vw;
  text-align: center;
}
.paypal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paypal-logo {
  font-family: Verdana, Tahoma;
  font-weight: bold;
  font-size: 26px;
}
.paypal-logo i:first-child {
  color: #253b80;
}
.paypal-logo i:last-child {
  color: #179bd7;
}
.paypal-button {
  padding: 15px 30px;
  border: 1px solid #ff9933;
  border-radius: 5px;
  background-image: linear-gradient(#fff0a8, #f9b421);
  margin: 0 auto;
  display: block;
  min-width: 138px;
  position: relative;
}
.paypal-button-title {
  font-size: 14px;
  color: #505050;
  vertical-align: baseline;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.paypal-button .paypal-logo {
  display: inline-block;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  font-size: 20px;
}
@media (max-width: 991px) {
  #content #checkout .box .box-footer .btn {
    margin-bottom: 20px;
  }
  .box.slideshow {
    padding: 20px 0 0 0;
    text-align: center;
  }
  .box.slideshow h3 {
    text-transform: uppercase;
    font-weight: 700;
  }
}
